html
body {
  color: rgb(81, 78, 78);
    background-image: url("/images/maik-jonietz-_yMciiStJyY-unsplash.jpg");
    background-attachment:scroll;
    background-size:cover;
    background-repeat:no-repeat;
text-shadow:  2px 2px rgb(6, 80, 112);font-family: Arial, Helvetica, sans-serif;}

.container {  display: grid;
    grid-template-columns: 0.6fr 1.4fr 0.5fr;
    grid-template-rows: 0.5fr 0.8fr 0.6fr 2.8fr 0.3fr 0.2fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
      "SPJII Menu Menu"
      ". . ."
      "Mid Mid Mid"
      "Mid Mid Mid"
      ". Languages- ."
      "Footer Footer Footer";
  }
  
  .SPJII { grid-area: SPJII; background-color:  rgba(5, 70, 100, 0.75);text-align: center; vertical-align: middle;  display: grid;
    color: rgb(255, 255, 255);
  text-align: center;   align-items: center;
  justify-content: center; font-size: xx-large; font-weight: bold;}
  
  .container * {
        
    position: relative;}
  .Menu {  display: grid;
    color: rgb(220, 246, 255);
  text-align: center;
  
        content:attr(class);
        
        align-items: center;
        justify-content: center;
      /* top bar were you click */
background-color: rgba(5, 70, 100, 0.75);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Resume Projects Contact-me"
      "Resume Projects Contact-me"
      "Resume Projects Contact-me";
    grid-area: Menu;
  font-weight: bold;}
  
  .Resume { grid-area: Resume; text-align:center; }

  .Homepage { grid-area: Projects; }
  
  .Contact-me { grid-area: Contact-me; text-align: left;
  }
  
  /* choose a language to view in */
  .Languages- {  display: grid; background-color: rgba(0, 78, 112, 0.809);text-align: center; vertical-align: middle;  display: grid;
    color: rgb(255, 255, 255); position: relative;
  text-align: center; align-items: center;
  justify-content: center; font-size: large; 
  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
    grid-area: Languages-;}
  
  /* Bottom of the page */
  .Footer { grid-area: Footer;background-color:rgb(5, 65, 90); }
  
  .Mid {  display: grid;
    grid-template-columns: 0.4fr 2.3fr 0.3fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". Project-list ."
      ". Project-list ."
      ". Project-list .";
    grid-area: Mid; 
  }
  
  .Project-list { grid-area: Project-list;background-color: rgba(5, 51, 70, 0.85); }
  
  
  html, body , .container {
    height: 100%;
    margin: 0;
  }

  